.gallery {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 15px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  color: white;
  background-color: blue;
  border-radius: 5px;
  cursor: pointer;
}

.buttonPlace {
  width: auto;
  display: flex;
  justify-content: center;
}
